
<div class="team-picker">
  <div class="team left-team" {{action "pick" left.ref}}>
    <div class="team-colors">
      {{#each left.colors as |color|}}
        <ColorButton @color={{color}} />
      {{/each}}
    </div>
  </div>

  <div class="vs">
    <span>VS</span>
  </div>

  <div class="team right-team" {{action "pick" right.ref}}>
    <div class="team-colors">
      {{#each right.colors as |color|}}
        <ColorButton @color={{color}} />
      {{/each}}
    </div>
  </div>
</div>