<div class='index'>
  <h1>NCAA MARCH MADNESS — BY THE COLORS</h1>
  <h2>Pick your bracket based on team colors.</h2>
  {{#link-to 'bracket.round.matchup' 0 0 class='btn btn-default btn-lg'}}Get Started{{/link-to}}
</div>
